astroid==2.4.2
attrs==20.3.0
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
ConfigArgParse==1.2.3
dataclasses==0.8
fastapi==0.62.0
Flask==1.1.2
Flask-BasicAuth==0.2.0
gevent==20.12.1
geventhttpclient==1.4.4
greenlet==0.4.17
h11==0.11.0
idna==2.10
imbalanced-learn==0.8.0
imblearn==0.0
importlib-metadata==4.8.1
iniconfig==1.1.1
isort==5.6.4
itsdangerous==1.1.0
jedi==0.17.2
Jinja2==2.11.2
joblib==1.0.0
lazy-object-proxy==1.4.3
locust==1.4.1
MarkupSafe==1.1.1
mccabe==0.6.1
msgpack==1.0.2
numpy==1.19.4
packaging==20.8
parso==0.7.1
pluggy==0.13.1
psutil==5.8.0
py==1.10.0
pydantic==1.7.3
pylint==2.6.0
pyparsing==2.4.7
pytest==6.2.1
pyzmq==20.0.0
requests==2.25.1
scikit-learn==0.24.1
scipy==1.5.4
six==1.15.0
sklearn==0.0
starlette==0.13.6
threadpoolctl==2.1.0
toml==0.10.2
typed-ast==1.4.3
typing-extensions==3.10.0.2
urllib3==1.26.2
uvicorn==0.13.1
Werkzeug==1.0.1
wrapt==1.12.1
zipp==3.5.0
zope.event==4.5.0
zope.interface==5.2.0
